* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family:fantasy;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    font-size: xx-large;
    color: firebrick;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: large;
    border: solid firebrick;
    padding: 20px;
    border-radius: 20%;
}

.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matches-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 5px;
    width: 50vh;
    border: solid firebrick;
    padding: 5px;
    margin-left: 70px;
}

.match-sprite {
    height: 100px;
    width: 25px;
}

.match {
    height: 100px;
    width: 25px;
    background-color: white;
    transition: all, 0.1s;
    &.picked{
        display: none;
    }
}

.match:hover {
    transform: translate(0, -3px);
    filter: brightness(90%);
}

.match:disabled {
    background-color: grey;
}

.input-players {
    width: 30px;
}

.ui-button {
    background-color: indianred;
    border: solid firebrick;
    color: white;
    padding: 5px;
    border-radius: 20%;
    transition: all, 0.2s;
    height: 30px;
    width: 70px;
}

.ui-button:hover:enabled {
    transform: translate(0, -3px);
    filter: brightness(90%);
}

.ui-button:disabled {
    background-color: grey;
}

.match-and-pass-container {
    display: flex;
}

.pass-turn-button {
    order: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}