* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    font-size: xx-large;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matches-container {
    gap: 5px;
    width: 50vh;
}

.match-sprite {
    height: 100px;
    width: 25px;
}

.match {
    height: 100px;
    width: 25px;
    background-color: white;
    transition: all, 0.1s;
    &.picked{
        display: none;
    }
}

.match:hover {
    transform: translate(0, -3px);
    filter: brightness(90%);
}

.match:disabled {
    background-color: grey;
}

.input-players {
    width: 30px;
}